<div class="background"></div>
<hr>
<% if @request.errors.any? %>
  <ul>
    <% @request.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @request, html: {class: "form-horizontal"} do |r| %>
  <div class="form-group">
    <%= r.label :name %>
    <%= r.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= r.label :email %>
    <%= r.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= r.label :department %>
    <%= r.text_field :department, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= r.label :message %>
    <%= r.text_area :message, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= r.submit class: "btn btn-primary" %>
  </div>
<% end %>
