<h1>Manage Requests</h1>
<table class="table table-condensed table-hover">
<thead>
  <tr>
    <th><%= link_to "Name", requests_path(@requests) %></th>
    <th><%= link_to "Email", request_path(@requests) %></th>
    <th><%= link_to "Department", request_path(@requests) %></th>
    <th><%= link_to "Message", request_path(@requests) %></th>
    <th><%= link_to "Actions", request_path(@requests) %></th>
  </tr>
</thead>
<tbody>
  <% @requests.each do |r| %>
    <tr>
        <td> <%= "#{r.name}" %> </td>
        <td> <%= mail_to(r.email) %> </td>
        <td> <%= "#{r.department}" %> </td>
        <td>
          <span title="<%= r.message %>">
            <%= link_to "#{truncate(r.message)}", edit_request_path(r) %>
          </span
        </td>
        <td>
          <%= link_to "Edit", edit_request_path(r), class: "btn-sm btn-info" %>
          <%= link_to "Delete", request_path(r), method: :delete, data: {confirm: "Delete request by #{r.name} of #{r.department} department?"}, class: "btn-sm btn-danger" %>
          <% if r.done == 1 %>
            <%= link_to "Done", request_path(r), method: :patch, class: "btn-sm btn-info" %>
          <% elsif %>
            <%= link_to "Not Done", request_path(r), method: :patch, class: "btn-sm btn-warning" %>
          <% end %>
        </td>
    </tr>
  <% end %>
</tbody>
</table>

<div>
<%= paginate @requests %>
</div>
